.container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 50px auto;
}
  .box {
    width: 50px;
    height: 80px;
    background-color: blue;
    border: 1px solid black;
    flex-basis: calc(25% - 20px);
  }